<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('工作记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>公司名称：</label>
                                <input type="text" name="companyname"/>
                            </li>
                            <li>
                                <label>邮箱：</label>
                                <input type="text" name="email"/>
                            </li>
                            <li>
                                <label>投递方式：</label>
                                <select name="sendmode" th:with="type=${@dict.getType('send_mode')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>投递日期：</label>
                                <input type="text" class="time-input" id="startTime1" placeholder="开始时间" name="params[beginSenddate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime1" placeholder="结束时间" name="params[endSenddate]"/>
                            </li>
                            <li class="select-time">
                                <label>创建时间：</label>
                                <input type="text" class="time-input" id="startTime2" placeholder="开始时间" name="params[beginCreateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime2" placeholder="结束时间" name="params[endCreateDate]"/>
                            </li>
                            <li class="select-time">
                                <label>更新时间：</label>
                                <input type="text" class="time-input" id="startTime3" placeholder="开始时间" name="params[beginUpdateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime3" placeholder="结束时间" name="params[endUpdateDate]"/>
                            </li>
                            <li>
                                <label>电话：</label>
                                <input type="text" name="homeCall"/>
                            </li>
                            <li>
                                <label>手机：</label>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <label>联系人：</label>
                                <input type="text" name="linkman"/>
                            </li>
                            <li>
                                <label>走路距离：</label>
                                <input type="text" name="walklength"/>
                            </li>
                            <li>
                                <label>路程：</label>
                                <input type="text" name="loadlength"/>
                            </li>
                            <li>
                                <label>起始站点：</label>
                                <input type="text" name="startpoint"/>
                            </li>
                            <li>
                                <label>星标：</label>
                                <select name="star">
                                    <option value="">所有</option>
                                    <option value="0">无星标</option>
                                    <option value="1">星标</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="htc:jobscollection:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="htc:jobscollection:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="htc:jobscollection:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="htc:jobscollection:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('htc:jobscollection:edit')}]];
        var removeFlag = [[${@permission.hasPermi('htc:jobscollection:remove')}]];
        var sendmodeDatas = [[${@dict.getType('send_mode')}]];
        var delFlagDatas = [[${@dict.getType('del_flag')}]];
        var prefix = ctx + "htc/jobscollection";

        function star(id, val){
            let json = {
                id: id,
                star: (1 === val ? 0 : 1)
            }
            $.operate.submit(prefix + "/edit", "post", "json", json);
        }

        $(function() {
            var options = {
                type: 0,
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "工作记录",
                columns: [
                {
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: '主键',
                    visible: false
                },
                {
                    title: '星标',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="star(\'' + row.id + '\', ' + row.star + ')"><i class="fa fa-edit"></i>' + (1 === row.star ? "星标" : "无") + '</a> ')
                        return actions.join('');
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                },
                {
                    field: 'companyname', 
                    title: '公司名称'
                },
                {
                    field: 'companyaddr', 
                    title: '公司地址',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10);
                    }
                },
                {
                    field: 'email', 
                    title: '邮箱'
                },
                {
                    field: 'sendmode', 
                    title: '投递方式',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(sendmodeDatas, value);
                    }
                },
                {
                    field: 'senddate', 
                    title: '投递日期'
                },
                {
                    field: 'remarks',
                    title: '备注',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10);
                    }
                },
                {
                    field: 'url', 
                    title: 'url',
                    formatter: function(value, row, index) {
                        return '<a href="'+ value +'" target="_blank" class="">招聘网站地址</a>';
                    }
                },
                {
                    field: 'homeCall', 
                    title: '电话'
                },
                {
                    field: 'phone', 
                    title: '手机'
                },
                {
                    field: 'linkman', 
                    title: '联系人'
                },
                {
                    field: 'walklength', 
                    title: '走路距离'
                },
                {
                    field: 'loadlength', 
                    title: '路程'
                },
                {
                    field: 'startpoint', 
                    title: '起始站点'
                },
                {
                    field: 'createDate',
                    title: '创建时间'
                },
                {
                    field: 'updateDate',
                    title: '更新时间'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>